* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: rgba(189, 109, 4, 0.596);
    margin: 0;
}
.signup-container {
    width: 400px;
    height: 100px;
    background-color: goldenrod;
    box-shadow: 0 0 50px 0 rgba(230, 177, 5, 0.3);
    margin: 100px auto;
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #adb2ba;
    text-decoration: none;
    font-weight: bold;
    color: #9da3ac;
    border-radius: 5px;
}

.nav-link-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}

.link {
    text-decoration: none;
    color: rgb(51, 230, 6);
}



// delete below
.game-area {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
    background-image: url(.//images/farm.png);
    background-size: cover;
  }
  
  .snake-dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: brown;
    border: 1px solid black;
    z-index: 2;
  }
  
  .snake-food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-image: url(.//images/applePixels.png);
    background-size: cover;
    z-index: 1;
  }

  .game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;

  }

  .btn {
      background-color: yellowgreen;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
  }