@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: rgba(131, 4, 148, 0.596);
    margin: 0;
}
.signup-container {
    width: 400px;
    height: 100px;
    background-color: goldenrod;
    box-shadow: 0 0 50px 0 rgba(230, 177, 5, 0.3);
    margin: 100px auto;
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adb2ba;
    text-decoration: none;
    font-weight: bold;
    color: #9da3ac;
    border-radius: 5px;

    .signup-btn {
      position: absolute;
      top: 33%;
      left: 48%;
      background-color: goldenrod;
      transition: 0.5s ease-in-out;
      
      &:hover {
        background-color: rgb(128, 26, 0);
      }
    }

    

    .retro-one {
      width: 250px;
      height: 400px;
      position: absolute;
      top: 22%;
      left: 14.5%;
    }

    .retro-two {
      width: 250px;
      height: 400px;
      position: absolute;
      top: 22%;
      right: 14.5%;
    }

    .register {
      position: absolute;
      top: 52%;
      left: 39.5%;
    }
    

    .signin-image {
      position: absolute;
      top: 52%;
      left: 39.5%;
      height: 250px;
      width: 400px;
    }

}

.nav-link-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}

.nav-link-wrapper img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1%;
    left: 36%;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    -webkit-text-stroke: 1px red
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome {
        font-size: 20px;
        color: #d5d8db;
    }

    .construction {
        font-size: 25px;
        color: orange;
        -webkit-text-stroke: 1.5px black;
    }

    .instructions {
        font-size: 20px;
        color: #d5d8db;
    }
}

.game-container img {
    height: 600px;
    width: 500px;
    position: absolute;
    top: 15%;
    left: 70%;
}



.game-area {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
    background-image: url(.//images/farm.png);
    background-size: cover;
  }
  
  .snake-dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: brown;
    border: 1px solid black;
    z-index: 2;
  }
  
  .snake-food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-image: url(.//images/applePixels.png);
    background-size: cover;
    z-index: 1;
  }

  .game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
      font-family: 'Press Start 2P', cursive;  
  }

  .btn {
      background-color: yellowgreen;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Press Start 2P', cursive;
      height: 50px;
      width: 200px;
  }


  .slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(224, 6, 6);
    z-index: 10;
    cursor: pointer;
    user-select: none;

    transition: 0.5s ease-in-out;

    &:hover {
      color: darkcyan;
    }
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(224, 6, 6);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease-in-out;

    &:hover {
      color: darkcyan;
    }
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
